<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h3 class="card-title text-center">Class Booking</h3>
          <hr>
          <p align="center">

            <strong>Looking to book a function?</strong>
            <button class="btn btn-block btn-primary mt-2" [routerLink]="['/booking/function']">Function Room Booking</button>
            <br>
            <strong>Looking to book a class?</strong>
            <button class="btn btn-block btn-primary mt-2" [routerLink]="['/classes']">View Current Classes</button>
          </p>

        </div>
      </div>
    </div>

    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h3 class="card-title text-center">Create Booking</h3>
          <hr>
          <form #bookClassForm="ngForm" (ngSubmit)="bookClass()">

            <div class="form-label-group mb-2">
              <select id="id" class="form-control text-center" name="id" [(ngModel)]="id">
                  <option [ngValue]="" disabled>Select Class</option>
                <option *ngFor="let c of classes" value="{{c.id}}">{{c.className.toString()}} on {{c.classDate | date:'shortDate' }} @ {{c.classTime.toString()}}</option>
              </select>
            </div>

            <div class="form-label-group mb-2">
              <input type="text" class="form-control text-center" name="email" [(ngModel)]="model.email"
                placeholder="Registered Email" required autofocus>
            </div>

            <div class="form-label-group mb-2">
              <input type="text" class="form-control text-center" name="contactNumber" [(ngModel)]="model.contactNumber"
                placeholder="Contact Number" required>
            </div>

            <div class="form-label-group mb-2">
              <div class="form-group">
                <label for=""></label>
                <textarea class="form-control text-center" name="requirements" rows="3"
                  placeholder="Additional Requirements" [(ngModel)]="model.requirements"></textarea>
              </div>
            </div>

            <button class="btn btn-md btn-primary btn-block " type="submit">Book Class</button>
            <button class="btn btn-md btn-warning btn-block " type="button" [routerLink]="['']">Cancel</button>

          </form>

        </div>
      </div>
    </div>


  </div>
</div>