<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h3 class="card-title text-center">Contact Us</h3>
          <hr>
          <p align="center">

            <strong>CCC Sports Centre</strong>
            <br>
            <br>
            190 Cathedral Street<br>
            Glasgow<br>
            G4 0RF<br>
            0141 375 5555<br>
            <br> 
            We will endeavour to respond within 48 hours.
          </p>

            <div class="form-group">
              <label for=""></label>
              <textarea class="form-control text-center" name="requirements" rows="4" placeholder=""></textarea>
            </div>
            </div>

            <button class="btn btn-outline-primary text-center" [routerLink]="['/contact']">Submit</button>

        </div>
      </div>
    </div>