<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h3 class="card-title text-center">Membership Cancelled</h3>
            <hr>
            <p align="center">

              <strong>We're sorry to see you go.</strong>
              <br>
              <br>
              Your membership will be cancelled immediately. Please login again to see this updated.
              <br><br>
              <strong>Was it something we did? Help us improve our service by providing feedback.</strong>
              <br><br>
              <button class="btn btn-outline-primary" [routerLink]="['/contact']">Leave Feedback</button>

          </div>
        </div>
      </div>