<div id="group" class="card-group">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title mt-2 text-center">Add Class</h4>
      <div class="row">
        <div class="container mr-4 ml-4">

          <form #createClassForm="ngForm" (ngSubmit)="createClass()">
            <div class="form-label-group mb-2">
              <input type="text" id="className" class="form-control" name="className" [(ngModel)]="model.className"
                placeholder="Name" required autofocus>
            </div>

            <div class="form-label-group mb-2">
              <input type="text" id="cost" class="form-control" name="cost" [(ngModel)]="model.cost" placeholder="Cost"
                required autofocus>
            </div>

            <div class="form-label-group mb-2">
              <input type="number" id="maxAttendees" class="form-control" name="maxAttendees"
                [(ngModel)]="model.maxAttendees" placeholder="Maximum Members" required autofocus>
            </div>

            <div class="form-label-group mb-2">
              <select id="attendantEmail" class="form-control text-center" name="attendantEmail"
                [(ngModel)]="model.attendantEmail">
                <option value="" disabled>Select Attendant</option>
                <option *ngFor="let a of attendants" value="{{a.email}}">{{a.firstName}} {{a.surname}}</option>
              </select>
            </div>

            <div class="form-label-group mb-2">
              <input type="text" class="form-control" name="classDate" [(ngModel)]="model.classDate" placeholder="When"
                required autofocus bsDatepicker [bsConfig]="bsConfig">
            </div>

            <div class="form-label-group mb-2">
              <select id="classTime" class="form-control" name="classTime" [(ngModel)]="model.classTime">
                <option [ngValue]="" disabled>Time Slot</option>
                <option [ngValue]="1">08:00 - 09:00</option>
                <option [ngValue]="2">09:00 - 10:00</option>
                <option [ngValue]="3">10:00 - 11:00</option>
                <option [ngValue]="4">11:00 - 12:00</option>
                <option [ngValue]="5">12:00 - 13:00</option>
                <option [ngValue]="6">13:00 - 14:00</option>
                <option [ngValue]="7">14:00 - 15:00</option>
                <option [ngValue]="8">15:00 - 16:00</option>
                <option [ngValue]="9">16:00 - 17:00</option>
                <option [ngValue]="10">17:00 - 18:00</option>
                <option [ngValue]="11">18:00 - 19:00</option>
                <option [ngValue]="12">19:00 - 20:00</option>
              </select>
            </div>

            <select class="form-label-group custom-select mb-2" name="facility" [(ngModel)]="model.facility">
              <option selected disabled>Facilities</option>
              <option [ngValue]="1">Full Hall</option>
              <option [ngValue]="2">Half Hall</option>
              <option [ngValue]="3">Small Area</option>
            </select>

            <button class="btn btn-md btn-primary btn-block " type="submit">Create Class</button>
            <button class="btn btn-md btn-warning btn-block " type="button" [routerLink]="['']">Cancel</button>

          </form>

        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <h4 class="card-title mt-2 text-center">Edit Class</h4>
      <div class="row">
        <div class="container mr-4 ml-4">

          <form #editClassForm="ngForm" (ngSubmit)="editClass()">

              <div class="form-label-group mb-2">
                  <select id="id" class="form-control text-center" name="id" [(ngModel)]="id">
                    <option *ngFor="let c of classes" value="{{c.id}}">{{c.className.toString()}}</option>
                  </select>
                </div>

            <div class="form-label-group mb-2">
              <input type="text" id="className" class="form-control text-center" name="className"
                [(ngModel)]="model.className" placeholder="Name" required autofocus>
            </div>

            <div class="form-label-group mb-2">
              <input type="text" id="inputCost" class="form-control text-center" name="cost" [(ngModel)]="model.cost"
                placeholder="Cost" required autofocus>
            </div>

            <div class="form-label-group mb-2">
              <input type="number" id="maxAttendees" class="form-control" name="maxAttendees"
                [(ngModel)]="model.maxAttendees" placeholder="Maximum Members" required autofocus>
            </div>

            <div class="form-label-group mb-2">
              <select id="attendantEmail" class="form-control text-center" name="attendantEmail"
                [(ngModel)]="model.attendantEmail">
                <option value="" disabled>Select Attendant</option>
                <option *ngFor="let a of attendants" value="{{a.email}}">{{a.firstName}} {{a.surname}}</option>
              </select>
            </div>

            <div class="form-label-group mb-2">
                <input type="text" class="form-control" name="classDate" [(ngModel)]="model.classDate" placeholder="When"
                  required autofocus bsDatepicker [bsConfig]="bsConfig">
              </div>

            <div class="form-label-group mb-2">
                <select id="classTime" class="form-control" name="classTime" [(ngModel)]="model.classTime">
                  <option [ngValue]="" disabled>Time Slot</option>
                  <option [ngValue]="1">08:00 - 09:00</option>
                  <option [ngValue]="2">09:00 - 10:00</option>
                  <option [ngValue]="3">10:00 - 11:00</option>
                  <option [ngValue]="4">11:00 - 12:00</option>
                  <option [ngValue]="5">12:00 - 13:00</option>
                  <option [ngValue]="6">13:00 - 14:00</option>
                  <option [ngValue]="7">14:00 - 15:00</option>
                  <option [ngValue]="8">15:00 - 16:00</option>
                  <option [ngValue]="9">16:00 - 17:00</option>
                  <option [ngValue]="10">17:00 - 18:00</option>
                  <option [ngValue]="11">18:00 - 19:00</option>
                  <option [ngValue]="12">19:00 - 20:00</option>
                </select>
              </div>
  
              <select class="form-label-group custom-select mb-2" name="facility" [(ngModel)]="model.facility">
                <option selected disabled>Facilities</option>
                <option [ngValue]="1">Full Hall</option>
                <option [ngValue]="2">Half Hall</option>
                <option [ngValue]="3">Small Area</option>
              </select>
  
              <button class="btn btn-md btn-primary btn-block " type="submit">Edit Class</button>
              <button class="btn btn-md btn-warning btn-block " type="button" [routerLink]="['']">Cancel</button>
  

          </form>

        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-block">
      <h4 class="card-title mt-2 text-center">Remove Class</h4>
      <div class="row">
        <div class="container mr-4 ml-4">

          <form #removeClassForm="ngForm" (ngSubmit)="removeClass()">

            <div class="form-label-group mb-2">
              <select id="id" class="form-control text-center" name="id" [(ngModel)]="id">
                <option *ngFor="let c of classes" value="{{c.id}}">{{c.className.toString()}}</option>
              </select>
            </div>

            <button class="btn btn-md btn-primary btn-block " type="submit">Delete Class</button>


          </form>

        </div>
      </div>
    </div>
  </div>
</div>