<div class="container mt-5">
  <h2>Membership Type</h2>
  <div class="card mb-5">
    <div class="card-body">
      <h4 class="card-title">Adult</h4>
      <p class="card-text"></p>
      <hr>
      <h4>£34.99 PER MONTH (£374 ANNUAL)</h4>
    </div>
  </div>

  
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Confirm Details</h4>
      <p class="card-text"></p>
      <hr>
      <p>Name</p>
      <p>Email</p>
      <p>Start Date</p>
      <p>Expiry Date</p>
      <p>Payment Method</p>
      <hr>
      

    </div>

  </div>