<div id="main" class="card text-black bg-white text-center">
  <div class="card-body mt-3">
    <h2 class="card-title">Administration</h2>
    <p class="card-text mb-5 mt-3">
      <button class="btn btn-outline-warning inline mr-4">Club</button>
      <button class="btn btn-outline-warning inline mr-4">Members</button>
      <button class="btn btn-outline-warning inline mr-4">Bookings</button>
      <button class="btn btn-outline-warning inline">Staff</button>
      <button class="btn btn-outline-warning inline ml-4">Reporting</button>
    </p>
  </div>
</div>

<div id="group" class="card-group">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title mt-2 text-center">Add Class</h4>
      <div class="row">
        <div class="container mr-4 ml-4">

          <form #addClassForm="ngForm" (ngSubmit)="addClass()">
            <div class="form-label-group mb-2">
              <input type="text" id="inputName" class="form-control text-center" name="name"
                [(ngModel)]="model.inputName" placeholder="Name" required autofocus>
            </div>

            <div class="form-label-group mb-2">
              <input type="text" id="inputCost" class="form-control text-center" name="cost" [(ngModel)]="model.cost"
                placeholder="Cost" required autofocus>
            </div>

            <div class="form-label-group mb-2">
              <input type="text" id="inputAttendant" class="form-control text-center" name="attendant"
                [(ngModel)]="model.attendant" placeholder="Attendant" required autofocus>
            </div>

            <div class="form-label-group mb-4">
              <input type="text" class="form-control text-center" name="date" [(ngModel)]="model.date"
                placeholder="When" required autofocus bsDatepicker [bsConfig]="bsConfig">
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <h4 class="card-title mt-2 text-center">Edit Class</h4>
      <div class="row">
        <div class="container mr-4 ml-4">

          <form #editClassForm="ngForm" (ngSubmit)="editClass()">
            <div class="form-label-group mb-2">
              <input type="text" id="inputName" class="form-control text-center" name="name"
                [(ngModel)]="model.inputName" placeholder="Name" required autofocus>
            </div>

            <div class="form-label-group mb-2">
              <input type="text" id="inputCost" class="form-control text-center" name="cost" [(ngModel)]="model.cost"
                placeholder="Cost" required autofocus>
            </div>

            <div class="form-label-group mb-2">
              <input type="text" id="inputAttendant" class="form-control text-center" name="attendant"
                [(ngModel)]="model.attendant" placeholder="Attendant" required autofocus>
            </div>

            <div class="form-label-group mb-4">
              <input type="text" class="form-control text-center" name="date" [(ngModel)]="model.date"
                placeholder="When" required autofocus bsDatepicker [bsConfig]="bsConfig">
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-block">
      <h4 class="card-title mt-2 text-center">Remove Class</h4>
      <div class="row">
        <div class="container mr-4 ml-4">

          <form #removeClassForm="ngForm" (ngSubmit)="removeClass()">
            <div class="form-label-group mb-2" dropdown>
              <button id="button-basic" dropdownToggle type="button"
                class="btn btn-outline-primary dropdown-toggle mr-2">Select Class<span
                  class="caret"></span>
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu">

              </ul>
            </div>


          </form>

        </div>
      </div>
    </div>
  </div>
</div>