<div id="main" class="card text-black bg-white text-center">
  <div class="card-body mt-3">
    <h2 class="card-title">Administration</h2>
    <p class="card-text mb-3 mt-3">
      <button (click)=classToggle() class="btn btn-outline-warning inline mr-4">Classes</button>
      <button (click)=memberToggle() class="btn btn-outline-warning inline mr-4">Role Management</button>
      <button (click)=staffToggle() class="btn btn-outline-warning inline">Staff</button>
    </p>
  </div>
</div>

<div *ngIf="classMode">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="container">
          <app-admin-classes></app-admin-classes>
      </div> 
    </div>
  </div>
</div>

<div *ngIf="memberMode">
  <div class="row justify-content-center">
    <div class="col-8">
      <app-admin-members></app-admin-members>
    </div>
  </div>
</div>

<div *ngIf="staffMode">
  <div class="row justify-content-center">
    <div class="col-8">
      <app-admin-staff></app-admin-staff>
    </div>
  </div>
</div>


