<div id="main" class="card text-black bg-white mb-3 text-center">
    <div class="card-body">
        <h4 class="card-title">Administration</h4>
        <p class="card-text">
          <button class="btn btn-outline-primary inline mr-2">Club</button>
          <button class="btn btn-outline-primary inline mr-2">Members</button>
          <button class="btn btn-outline-primary inline">Staff</button>
          <button class="btn btn-outline-primary inline ml-2">Reporting</button>
        </p>
    </div>
  </div>