<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h3 class="card-title text-center">Login</h3>
            <hr class="my-4">
            <form #loginForm="ngForm" (ngSubmit)="login()">
              <div class="form-label-group mb-2">
                <input type="email" id="inputEmail" class="form-control text-center" name="email"
                  [(ngModel)]="model.email" placeholder="Email address" required autofocus>
              </div>
  
              <div class="form-label-group mb-3">
                <input type="password" id="inputPassword" class="form-control text-center" name="password"
                  [(ngModel)]="model.password" placeholder="Password" required>
              </div>
  
              <button class="btn btn-lg btn-primary btn-block mb-2" type="submit">Sign in</button>
            </form>
            <button class="btn btn-md btn-warning btn-block text-uppercase" type="button" routerLinkActive="active"
            [routerLink]="['/login']">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>