<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h3 class="card-title text-center">Booking Information</h3>
          <hr>
          <p align="center">
            Bookings can be made up to 8 days in advance.<br>The swimming pool cannot be booked in advance.<br>
            Payments can be processed in cash on arrival.<br><br>

            <strong>Large Hall</strong>
            <br>
            Suitable for 5 or 6 a side football matches.
            <br><br>
            <strong>Half Hall</strong>
            <br>
            Suitable for a small class or kids football.
            <br><br>
            <strong>Small Area</strong>
            <br>
            Suitable for basketball, tennis or badminton.
            <br><br>
            <strong>Looking to book a function?</strong>
            <button class="btn btn-block btn-primary mt-2">Function Room Booking</button>
            <br>
            <strong>Looking to book a class?</strong>
            <button class="btn btn-block btn-primary mt-2" [routerLink]="['/classes']">View Current Classes</button>
          </p>

        </div>
      </div>
    </div>

    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h3 class="card-title text-center">Create Booking</h3>
          <hr>
          <form #registerForm="ngForm" (ngSubmit)="createBooking()">

            <div class="form-label-group mb-2">
              <input type="text" class="form-control text-center" name="bookingName" [(ngModel)]="model.bookingName"
                placeholder="Booking Name" required autofocus>
            </div>

            <div class="form-label-group mb-2">
              <input type="text" class="form-control text-center" name="contactNumber" [(ngModel)]="model.contactNumber"
                placeholder="Contact Number" required>
            </div>

            <div class="form-label-group mb-2">
              <input type="text" class="form-control text-center" name="bookingDate" [(ngModel)]="model.bookingDate"
                placeholder="Booking Date" required autofocus bsDatepicker [bsConfig]="bsConfig">
            </div>

            <select class="custom-select mb-2">
              <option selected disabled>Booking Time</option>
              <option value="1">08:00 - 09:00</option>
              <option value="2">09:00 - 10:00</option>
              <option value="3">10:00 - 11:00</option>
              <option value="4">11:00 - 12:00</option>
              <option value="5">12:00 - 13:00</option>
              <option value="6">13:00 - 14:00</option>
              <option value="7">14:00 - 15:00</option>
              <option value="8">15:00 - 16:00</option>
              <option value="9">16:00 - 17:00</option>
              <option value="10">17:00 - 18:00</option>
              <option value="11">18:00 - 19:00</option>
              <option value="12">19:00 - 20:00</option>
            </select>

            <select class="form-label-group custom-select mb-2">
              <option selected disabled>Facilities</option>
              <option value="1">Full Hall</option>
              <option value="2">Half Hall</option>
              <option value="3">Small Area</option>
            </select>



            <div class="form-label-group mb-2">
              <div class="form-group">
                <label for=""></label>
                <textarea class="form-control text-center" name="requirements" rows="3"
                  placeholder="Additional Requirements" [(ngModel)]="model.requirements"></textarea>
              </div>
            </div>

            <button class="btn btn-md btn-primary btn-block " type="submit">Create Booking</button>
            <button class="btn btn-md btn-warning btn-block " type="button" [routerLink]="['']">Cancel</button>

          </form>

        </div>
      </div>
    </div>


  </div>
</div>