.container{
    width: 100%;
    margin: auto;
}

.card-img-top {
    height: 25%;
    width: 25%;
}


#main{
    float: left;
    width: 60%;
    height: 600px;
    box-sizing: border-box;
}

#sidebar{
    float: right;
    width: 40%;
    height: 600px;
    box-sizing: border-box;
}