<div *ngIf="loggedIn()" class="container">
    <div id="main" class="card text-black bg-white mb-3">
        <div class="card-body">
                <div class="container mt-5">
                        <div *ngIf="!registerMode" style="text-align: center">
                          <h1>Achieve Your Fitness Goals</h1>
                          <p class="lead">Welcome back {{user.firstName}}!</p>
                          <div class="text-center">
                            <button class="btn btn-primary btn-lg mr-2" [routerLink]="['/classes']">Book a Class</button>
                            <button class="btn btn-warning btn-lg" [routerLink]="['/bookings']">Facility Booking</button>
                          </div>
                        </div>
                      </div>



        </div>
    </div>

    <div id="sidebar" class="card text-black bg-white mb-3">
        <div class="card-body">
            <ngx-twitter-timeline [data]="{sourceType: 'url', url: 'https://twitter.com/JamesGr04177506'}"
                [opts]="{tweetLimit: 5}"></ngx-twitter-timeline>
        </div>
    </div>
</div>

<div *ngIf="!loggedIn()" class="container">
  <div id="main" class="card text-black bg-white mb-3">
      <div class="card-body">
              <div class="container mt-5">
                      <div *ngIf="!registerMode" style="text-align: center">
                        <h1>Achieve Your Fitness Goals</h1>
                        <p class="lead">Join today as a free member!</p>
                        <div class="text-center">
                          <button class="btn btn-primary btn-lg mr-2" [routerLink]="['/register']">Register</button>
                          <button class="btn btn-warning btn-lg" [routerLink]="['/contact']">Need More Info?</button>
                        </div>
                      </div>
                    </div>



      </div>
  </div>

  <div id="sidebar" class="card text-black bg-white mb-3">
      <div class="card-body">
          <ngx-twitter-timeline [data]="{sourceType: 'url', url: 'https://twitter.com/JamesGr04177506'}"
              [opts]="{tweetLimit: 5}"></ngx-twitter-timeline>
      </div>
  </div>
</div>