<div class="container mt-3">
    <div id="header" class="card text-black bg-white mb-3">
        <div class="card-body">
                
        </div>
    </div>

    <div id="main" class="card text-black bg-white mb-3">
        <div class="card-body">
            <h3>Welcome to CCC Sports Centre</h3>
            <br>

        </div>
    </div>

    <div id="sidebar" class="card text-black bg-white mb-3">
        <div class="card-body">
                <ngx-twitter-timeline 
                [data]="{sourceType: 'url', url: 'https://twitter.com/twitterdev'}"
                [opts]="{tweetLimit: 5}"
            ></ngx-twitter-timeline>
        </div>
    </div>
</div>