<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h3 class="card-title text-center">Function Booking</h3>
          <hr>
          <p align="center">

            <strong>Information</strong>
            <br>
            We have a small room which can be used as a function room/creche or for certain organised activities.
            <br><br>
            For any inquiries please don't hesitate to contact us.
            <br>

            <br>
            <strong>Looking to book a class?</strong>
            <button class="btn btn-block btn-primary mt-2" [routerLink]="['/classes']">View Current Classes</button>
          </p>

        </div>
      </div>
    </div>

    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h3 class="card-title text-center">Create Booking</h3>
          <hr>
          <form #bookingForm="ngForm" (ngSubmit)="bookFunction()">

            <div class="form-label-group mb-2">
              <input type="text" class="form-control text-center" name="email" [(ngModel)]="model.email"
                placeholder="Registered Email" required autofocus>
            </div>

            <div class="form-label-group mb-2">
              <input type="text" class="form-control text-center" name="contactNumber" [(ngModel)]="model.contactNumber"
                placeholder="Contact Number" required>
            </div>

            <div class="form-label-group mb-2">
              <input type="text" class="form-control text-center" name="attendees" [(ngModel)]="model.attendees"
                placeholder="Number of Attendees" required>
            </div>

            <div class="form-label-group mb-2">
              <input type="text" class="form-control text-center" name="bookingDate" [(ngModel)]="model.bookingDate"
                placeholder="Booking Date" required autofocus bsDatepicker [bsConfig]="bsConfig">
            </div>

            <div class="form-label-group mb-2">
              <div class="form-group">
                <label for=""></label>
                <textarea class="form-control text-center" name="requirements" rows="3"
                  placeholder="Additional Requirements" [(ngModel)]="model.requirements"></textarea>
              </div>
            </div>

            <button class="btn btn-md btn-primary btn-block " type="submit">Book Class</button>
            <button class="btn btn-md btn-warning btn-block " type="button" [routerLink]="['']">Cancel</button>

          </form>

        </div>
      </div>
    </div>


  </div>
</div>