<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><strong>Membership Details</strong></h5>
    <hr/>
      <p class="card-text">
        <strong>{{user.email}}</strong><br>
        {{user.firstName}} {{user.surname}}<br>
        {{user.addressLine1}}<br>
        {{user.addressLine2}}<br>
        {{user.town}}<br>
        {{user.postCode}}<br>
        
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><strong>{{membershipType}} Payment Plan</strong></h5>
      <hr>
      <p class="card-text">
        Select Payment Method
      </p>
      
      <button class="btn btn-secondary mr-3"><i class="fa fa-cc-paypal fa-2x"></i></button>
      <button class="btn btn-secondary mr-3"><i class="fa fa-cc-visa fa-2x"></i></button>
      <button class="btn btn-secondary"><i class="fa fa-cc-mastercard fa-2x"></i></button>
      <button (click)='confirmMembership()' class="btn btn-success">Confirm</button>
      <hr/>

    </div>
  </div>
</div>