<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h3 class="card-title text-center">Login</h3>
          <hr class="my-4">

          <form [formGroup]="loginForm" (ngSubmit)="login()">

            <div class="form-label-group mb-2">
              <input type="text"
                [ngClass]="{'is-invalid': loginForm.get('username').errors && loginForm.get('username').touched}"
                class="form-control text-center" formControlName="username" placeholder="Username" autofocus>
              <div class="invalid-feedback text-center">Username required</div>
            </div>

            <div class="form-label-group mb-3">
              <input type="password" class="form-control text-center"
                [ngClass]="{'is-invalid': loginForm.get('username').errors && loginForm.get('username').touched}"
                formControlName="password" placeholder="Password" autofocus>
              <div class="invalid-feedback text-center">Password required</div>
            </div>

            <button class="btn btn-md btn-primary btn-block" [disabled]="!loginForm.valid" type="submit">Sign in</button>
            <hr class="my-4">
            <button class="btn btn-md btn-google btn-block" type="submit"><i class="fa fa-google mr-2"></i> Sign in with
              Google</button>
            <button class="btn btn-md btn-facebook btn-block" type="submit"><i class="fa fa-facebook-f mr-2"></i> Sign
              in with Facebook</button>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>