<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h3 class="card-title text-center">Booking Cancelled</h3>
          <hr>
          <p align="center">

            <strong>Want to book something different?</strong>
            <br>
            Choose from one of our many classes.
            <br>
            <button class="btn btn-block btn-primary mt-2" [routerLink]="['/classes']">View Current Classes</button>
            <br>
            You can take advantage of our great facilities and book into one of our halls.
            <button class="btn btn-block btn-primary mt-2" [routerLink]="['/booking']">Book A Facility</button>
            <br>
            For events we can offer a first class function suite with on site catering.
            <button class="btn btn-block btn-primary mt-2" [routerLink]="['/booking/function']">Book A Function</button>
          </p>

        </div>
      </div>
    </div>