<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h3 class="card-title text-center">Membership Details</h3>
            <hr>
            <p align="center">

              <strong>Membership Type: </strong> {{user.membershipType}}
              <br><br>
              <strong>Membership Expiry: </strong> {{user.membershipExpiry | date:'shortDate'}}
              <br><br>
              <strong>Options</strong>
              <br>
              <button class="btn btn-block btn-primary mt-2" (click)="cancelMembership()" >Cancel Membership</button>
              <br>
              <strong>Need Help?</strong>
              <button class="btn btn-block btn-primary mt-2" [routerLink]="['/contact']">Contact Us</button>
            </p>
  
          </div>
        </div>
      </div>